*{
    margin: 0;
    padding: 0;
}

h1{
    margin-top: 10px;
    font-size: 65px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color:grey;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(14, 6, 6, 0.3);
    font-size: 8vmin;
    color: white;
    background-color:black;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
#rst-btn{
    padding: 1rem;
    font-size: 1.25rem;
    color:red;
    background-color: yellow;
    border-radius: 1rem;
    border:color(from color srgb r g b);
}

#new-btn{
    margin: 20px;
    padding: 1rem;
    font-size: 1.25rem;
    color:azure;
    background-color:blue;
    border-radius: 1rem;
    border:color(from color srgb r g b);    
}

#msg{
    padding: 10px;
    color:rgba(128, 0, 87, 0.923);
    font-size: 8vmin;

}

#msg-container{
    height: 70vmin;
}

.hide{
    display: none;
}